.btn_loading {
  display: none;
}

.body_login_page {
  .btn_loading {
    display: block;
  }

  .btn_icon_login {
    display: none;
  }

  .wr_btn_login {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }
}
.line {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #d4dce8;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #0a021c;
  opacity: 0.4;
}

.line span {
  background: #f5f8fa;
  padding: 0 10px;
}
