.ck {
    .ck-content pre{
        color: var(--body-color);
    }
    .ck.ck-list__item .ck-button:hover:not(.ck-disabled){
        color: var(--bs-success)
    }
    .ck-source-editing-area{
        >textarea{
            background: transparent;
        }
    }
    .ck-editor__editable_inline{
        min-height: 200px;
        max-height: 500px;
        padding-bottom: 20px !important;
    }
}